@using System.Web.UI.WebControls
@using MyShip.Controllers
@using MyShip.Models
@model MyShip.ModelsView.CrewListViewModel

@{
    ViewBag.Title = "Crew List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Crew List</h2>
@using (Html.BeginForm("Index", "CrewList"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.CrewMember)
        @Html.DropDownListFor(
            model => model.Selection,
            new SelectList(
                new List<Object>
                    {
                    new { value = 0 , text = "All Crew By Name"  },
                    new { value = 1 , text = "All Crew By Cabin Number" },
                    new { value = 2 , text = "On Board Crew Only" },
                    new { value = 3 , text = "Signed Off Crew Only" },
                    },
                    "value",
                    "text"), "Select Sort Order", new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary">Change</button>
}
<br />
<hr />
@using (Html.BeginForm("New", "CrewMember"))
{
    <button type="submit" class="btn btn-primary">Add New Crew Member</button>
}
@if (Model.Selection == 1)
{
    <table class="table-bordered table-hover">
        <thead>
            <tr>
                <th>Cabin Number</th>
                <th>Bunk</th>
                <th>Lifeboat No.</th>
                <th>Last Cabin Number</th>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Muster Station</th>
                <th>On Board</th>
                <th>Sign On Date</th>
                <th>Sign Off Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var member in Model.Crew)
            {

                {
            <tr>
                @if (member.Cabin != null)
                {
                    <td>
                        @Html.ActionLink(member.Cabin.Number.ToString(), "Details", "Cabins", new { selection = member.Cabin.Id }, null)
                    </td>
                    <td>@member.Cabin.Bunk</td>
                    <td>@member.Cabin.Lifeboat.Number</td>
                }
                else
                {
                    <td>#</td>
                    <td>#</td>
                    <td>#</td>
                }
                <td>@member.LastCabin.Number</td>
                <td>@Html.ActionLink(member.LastName, "Edit", "CrewMember", new { selection = member.Id }, null)</td>
                <td>@member.FirstName</td>

                <td>@member.MusterStation.Location</td>
                @if (member.IsOnBoard == true)
                {
                    <td>YES</td>
                }
                else
                {
                    <td>NO</td>
                }
                <td>@if (member.IsOnBoard) {@member.JoinDate.ToShortDateString()}</td>
                <td>@if (!member.IsOnBoard) {@member.DisembarkDate.Date.ToShortDateString()}</td>
            </tr>
                }

            }
        </tbody>
    </table>
}
else
{
    <table class="table-bordered table-hover">
        <thead>
            <tr>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Cabin Number</th>
                <th>Bunk</th>
                <th>Lifeboat No.</th>
                <th>Last Cabin Number</th>
                <th>Muster Station</th>
                <th>On Board</th>
                <th>Sign On Date</th>
                <th>Sign Off Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var member in Model.Crew)
            {

                {
            <tr>
                <td>@Html.ActionLink(member.LastName, "Edit", "CrewMember", new { selection = member.Id }, null)</td>
                <td>@member.FirstName</td>


                @if (member.Cabin != null)
                {
                    <td>
                        @Html.ActionLink(member.Cabin.Number.ToString(), "Details", "Cabins", new { selection = member.Cabin.Id }, null)
                    </td>
                    <td>@member.Cabin.Bunk</td>
                    <td>@member.Cabin.Lifeboat.Number</td>
                }
                else
                {
                    <td>#</td>
                    <td>#</td>
                    <td>#</td>
                }
                <td>@member.LastCabin.Number</td>
                <td>@member.MusterStation.Location</td>
                @if (member.IsOnBoard == true)
                {
                    <td>Yes</td>
                }
                else
                {
                    <td>No</td>
                }
                <td>@if (member.IsOnBoard)
                {@member.JoinDate.ToShortDateString()}</td>
                <td>@if (!member.IsOnBoard)
                {@member.DisembarkDate.Date.ToShortDateString()}</td>
            </tr>
                }
            }
        </tbody>
    </table>
}
